{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Text to Image Generator{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'generator/catppuccin.css' %}">
</head>
<body>
    <header>
        <span>🖼️ Text to Image Generator</span>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <span>Made with <span style="color: var(--ctp-pink);">♥</span> by Marius |</span>
    </footer>
</body>
</html>